<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}"> 
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap&subset=latin-ext" rel="stylesheet"> 


    <title>{% block head_title %} {% endblock %}</title>



  </head>

  <body style="overflow: scroll;">
    <div id="header">
        <div id="social_media_container">
          <div class="social_media" style="text-align: left;"><a href="http://127.0.0.1:8000/blog-new/" class="tilelink">NEW POST</a> </div>
          <div class="social_media">                                                                                                  </div>
          <div class="social_media">  <a href="https://www.instagram.com/"  class="tilelink"  target="_blank">INSTAGRAM</a>           </div>
          <div class="social_media">  <a href="https://www.pinterest.com/"  class="tilelink"  target="_blank">PINTEREST</a>           </div>
          <div class="social_media">  <a href="https://www.facebook.com/"   class="tilelink"  target="_blank">FACEBOOK</a>            </div>
          <div class="social_media">  <a href="https://www.twitter.com/"    class="tilelink"  target="_blank">TWITTER</a>             </div>
          <div class="social_media">  <a href="https://www.bloglovin.com/"  class="tilelink"  target="_blank">BLOGLOVIN'</a>          </div>
          <div class="social_media">  <a href="https://www.reddit.com/"     class="tilelink"  target="_blank">REDDIT</a>              </div>
          <div class="social_media">                                                                                                  </div>
          <div class="social_media" style="text-align: right;"><a href="http://127.0.0.1:8000/login/" class="tilelink">LOG IN</a>     </div>   
          <div style="clear:both;"></div>
         </div>    
        <div style="clear:both;"></div>
    </div>

    <div style="height: 50px;"></div>

  	<div id="container">
      <div style="height: 50px;"></div>
        <div id="blog_title">
          <a href="http://127.0.0.1:8000/">THE DAILY DISH</a>
        </div>
        <div id="blog_motto">
          Random fancy text, lorem ipsum
        </div>
      <div style="height: 50px;"></div>
      <div id="menu_bar">
        <div id="option_container"> 
          <div class="option"><a href="http://127.0.0.1:8000/test/">TEST</a></div>
          <div class="option"><a href="http://127.0.0.1:8000/blog/">BLOG</a></div>
          <div class="option"><a href="http://127.0.0.1:8000/newest-post">NEWEST POST</a></div>
          <div class="option"><a href="http://127.0.0.1:8000/about/">ABOUT</a></div>
          <div class="option"><a href="http://127.0.0.1:8000/contact/">CONTACT PAGE</a></div>   
          <div style="clear:both;"></div>
        </div>
      </div>

      <div id="content">
        <div>
            {% block content %}
            
            {% endblock %}       
 
        </div>
      </div>
      <div id="side_bar">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  </p>    
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>