<!doctype html>
{% load static %}
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}"> 
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap&subset=latin-ext" rel="stylesheet"> 
    
    <title>{% block head_title %} {% endblock %}</title>
  </head>
  <body style="overflow: scroll;">
    <div id="header">
      <div id="header_container">
        <div id="logo_container">
          <a href="/"><img id="logo" src="{% static 'css/img/logo.png' %}"></a>
        </div>
        <div id="header_buttons_container">
          {% if user.is_authenticated %}
            <a href="/blog-new/"><button class="header_button">NEW POST</button></a>
          {% endif %}
        <div id="buttons_container">
          <a href="/blog/"><button class="header_button">BLOG</button></a>
          <a href="/contact/"><button class="header_button">CONTACT</button></a>
          <a href="/about/"><button class="header_button">ABOUT</button></a>
          {% if user.is_authenticated %}
          <div class="dropdown">
            <button class="header_button">MY BLOG</button>
            <div class="dropdown-content">
              <a href="/user/{{user.username}}/">{{user.username}}</a>
              <a href="/settings">SETTINGS</a>
              <a href="/logout">LOGOUT</a>
            </div>
          </div>
          {% else %}
            <button class="header_button">
              <a href="/login/">LOGIN</a>
            </button>
          {% endif %}
        </div>
        </div>
      </div>
    </div>
    <div id="container">
      {% block main_picture %}
      {% endblock %}
      <div id="content">
        <div>
          {% block content %}
          {% endblock %}       
        </div>
      </div>
      <div id="side_bar">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  </p>    
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  </body>
</html>